<div id="welcome">
		<div class="row">
			<div class="banner top col-lg-6 col-lg-offset-3 col-md-6 col-sm-6 col-xs-10">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-2">
						<h1>Bienvenido</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-md-10 col-md-offset-1">
					<p>¡hey! ya inauguramos</p>
					</div>
				</div>

			</div>
		</div>

</div>

<div id="about">
		<div class="row">
			<div class="title">
				<h1>Quienes somos</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			<p>
				<strong>Ecotetera</strong>, nace de la necesidad de dar a conocer exclusivas variedades del té, buscando masificar el consumo informado de esta bebida.
			</p>
			<p>
				Nuestros tés y especies son completamente naturales, es por esto que te invitamos a sentir aromas estimulantes, intensos sabores y colores, te invitamos a ser parte de nuestro jardin de sensaciones.
			</p>
			</div>
		</div>

</div>

<div id="te">
	<div class="row">
		<div class="title">
			<h1>Porque amamos tanto el té</h1>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<h4>sus propiedades</h4>
				</div>
			</div>

		</div>
	</div>
	<div class="row first">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag "img_blanco.png" %>
			<div class="row">
				<p class="title">
					Blanco
				</p>
				<p>
					Es en realidad un té verde, pero contiene tres veces más polifenoles, los que aumentan las defensas del organismo y lo desintoxican al mismo tiempo.
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag "img_verde.png" %>
			<div class="row">
				<p class="title">
					Verde
				</p>
				<p>
					El té verde, con su gran cantidad de antioxidantes, es uno de los más comunes en China. Es efectivo contra los efectos del envejecimiento y las enfermedades degenerativas, incluso contra el cáncer.
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag "img_negro.png" %>
			<div class="row">
				<p class="title">
					Negro
				</p>
				<p>
					El té negro (conocido en China como té rojo o "hong cha"), es sometido a fermentación y secado luego de la cosecha. Tiene propiedades protectoras del sistema cardiovascular, previene las caries y ayuda a la no oxidación del colesterol "bueno".
				</p>
			</div>
		</div>
	</div>
	<div class="row second">
		<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
			<%= image_tag "img_rojo.png" %>
			<div class="row">
				<p class="title">
					Rojo
				</p>
				<p>
					Al igual que el vino, mientras más tiempo se guarda, mayo calidad y precio. Es recomendable para perder peso, ya que acelera el metabolismo, facilita la digestión y disminuye el colesterlo.
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag "img_azul.png" %>
			<div class="row">
				<p class="title">
					Oolong
				</p>
				<p>
					Tiene antioxidantes, mejora la digestión, el colesterol y quema casi el doble de grasas que el té verde, además de ser muy bueno para la piel.
				</p>
			</div>
		</div>

	</div>

</div>


<div id="blackboard">
	<div class="superior"></div>
	<div class="center">
			<div class="row">
				<div class="title">
					<h1>Ofrecemos</h1>
				</div>
			</div>
			<div class="row">
				<div class="title2">
					<h1>Venta de té</h1>
				</div>
			</div>
			<div class="row">
				<div class="content">
					<p>Desde distintas partes del mundo traemos el mejor té, más de 40 variedades de blends</p>
				</div>
			</div>

			<div class="row">
				<div class="title2">
					<h1>Salón de té</h1>
				</div>
			</div>
			<div class="row">
				<div class="content">
					<p>Ven a disfrutar de toda la variedad de Té en Ecotetera junto con la mejor selección de pastelería y sándwiches.</p>
				</div>
			</div>

			<div class="row">
				<div class="title2">
					<h1>Accesorios a la hora del té</h1>
				</div>
			</div>
			<div class="row">
				<div class="content">
					<p>Infusores, teteras y todo lo que necesitas para complementar tu ritual.</p>
				</div>
			</div>

			<div class="row">
				<div class="title2">
					<h1>Tea Break</h1>
				</div>
			</div>
			<div class="row">
				<div class="content">
					<p>Ofrecemos "tea break" para seminarios, cursos y empresas.</p>
				</div>
			</div>


			<div class="row">
				<div class="content image">
					<%= image_tag 'img_pizarra.png' %>
				</div>
			</div>

	</div>
	<div class="inferior"></div>
</div>

<div id="productos">
		<div class="row">
			<div class="title">
				<h1>Nuestros productos</h1>
				<h4>mira lo que tenemos para ofrecerte</h4>
			</div>

		</div>

		<div class="row">
			<div id="carousel" class="col-lg-10 col-lg-offset-1">

				<div id="carousel-productos" class="carousel slide visible-lg" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#carousel-productos" data-slide-to="0"></li>
						<li data-target="#carousel-productos" data-slide-to="1"></li>
						<li data-target="#carousel-productos" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-lg-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-productos" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-productos" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>

				</div>

				<div id="carousel-productos" class="carousel slide visible-md" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#carousel-productos" data-slide-to="0"></li>
						<li data-target="#carousel-productos" data-slide-to="1"></li>
						<li data-target="#carousel-productos" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-md-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-productos" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-productos" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>

				</div>

				<div id="carousel-productos" class="carousel slide visible-sm" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#carousel-productos" data-slide-to="0"></li>
						<li data-target="#carousel-productos" data-slide-to="1"></li>
						<li data-target="#carousel-productos" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-productos" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-productos" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>

				</div>

			</div>
		</div>


</div>

<div id="contacto">

		<div class="row">
			<div class="title">
				<h1>Ven a visitarnos</h1>
				<h4>y conversemos sobre el té</h4>
			</div>
		</div>
		<div class="row content" >
			<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4">
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Tu nombre" name="nombre" id="nombre">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Tu correo" name="correo" id="correo">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="comentario" id="comentario" placeholder="¿Buenas vibras, dudas, consejos? Escribenos lo que se te ocurra." rows="10"></textarea>
					</div>
					<div class="form-group">
						<button  type="submit" class="btn btn-success">Enviar</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div id="map_canvas"></div>
			</div>
		</div>

</div>

<% content_for :javascript_extra do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>