<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="Matías Hernández <matiasfh@gmail.com>">
	<title>Ecotetera</title>
	<link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
				<div class="row">
					<div id="logo_header" class="col-lg-1 col-lg-offset-6 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-3 col-xs-offset-5" >
						<%= image_tag "logo_header.png" %>
					</div>
				</div>
		</header>

		<%= yield %>

		<footer>
			<div class="first">

					<div class="row">
						<div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-2" id="logo">
							<%=image_tag 'logo_footer.png' %>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="direccion">
							<p>Edificio Plaza Suiza
							<br />
							(Plaza de los Tulipanes)
							<br />
							7 oriente 2 norte, Talca.
							<br />
							Contacto +56 9 53830570</p>
						</div>
						<div class="col-lg-1  col-xs-2 pull-right" id="social">
							<div class="row">
								<p>Siguenos</p>
							</div>
							<div class="row">
								<div class="col-lg-1 col-md-1 col-sm-1 pull-right first clearfix">
									<div class="thubmnail">
										<a href="">
											<div class="facebook"></div>
										</a>
									</div>
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 pull-right second clearfix">
									<div class="thubmnail">
										<a href="">
											<div class="twitter"></div>
										</a>


									</div>
								</div>
							</div>


						</div>

					</div>

			</div>
			<div id="powered">

					<div class="row">
						<div class="col-lg-2 col-xs-4 pull-right">
							<p>Diseñado y desarrollo por Kimun!</p>
						</div>
					</div>

			</div>

		</footer>
	</body>

	<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
	<%= yield :javascript_extra %>
	</html>
