<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="VFwHuJWItU-0iBzkvhQZFSy9KAyj2IJ6FhFh2mQTo-k" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="Matías Hernández <matiasfh@gmail.com>">
	<title>Ecotetera</title>
	<link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->
	</head>
	<body>
		<% if flash[:notice] %>
		<div class="alert alert-success alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  Tu comentario se ha enviado!!, nos pondremos en contacto contigo.
		</div>
		<% end %>
		<header>
				<div class="row">
					<div id="logo_header" class="col-lg-1 col-lg-offset-6 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-3 col-xs-offset-5" >
						<%= image_tag "logo_header.png" %>
					</div>
				</div>
		</header>

		<%= yield %>

		<footer>
			<div class="first">

					<div class="row">
						<div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-2" id="logo">
							<%=image_tag 'logo_footer.png' %>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="direccion">
							<p>Edificio Plaza Suiza
							<br />
							(Plaza de los Tulipanes)
							<br />
							7 oriente 2 norte, Talca.
							<br />
							Contacto +56 9 53830570</p>
						</div>
						<div class="col-lg-1  col-xs-2 pull-right" id="social">
							<div class="row">
								<p>Siguenos</p>
							</div>
							<div class="row">
								<div class="col-lg-1 col-md-1 col-sm-1 pull-right first clearfix">
									<div class="thubmnail">
										<a href="https://www.facebook.com/EcoTetera">
											<div class="facebook"></div>
										</a>
									</div>
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 pull-right second clearfix">
									<div class="thubmnail">
										<a href="https://twitter.com/Ecotetera">
											<div class="twitter"></div>
										</a>


									</div>
								</div>
							</div>


						</div>

					</div>

			</div>
			<div id="powered">

					<div class="row">
						<div class="col-lg-2 col-xs-4 pull-right">
							<p>Web creada por <a hreF="#"  data-toggle="modal" data-target="#modal-kimun"> Kimun!</a></p>
						</div>
					</div>

			</div>

		</footer>

		<div class="modal fade" id="modal-kimun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Creado por <strong>Kimun!</strong></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
		      		<div class="col-lg-6">
			        	<div class="row">
			        		<div class="col-lg-11">
			        			<%= image_tag 'img_MH.png' %>
			        		</div>
			        	</div>
						<div class="row">
							<div class="col-lg-11">
			        			<h3>Matías Hernández</h3>
			        		</div>
						</div>
						<div class="row">
							<div class="col-lg-11">
								<p>
								<ul>
									<li>Ingeniero Civil Informático  - CTO </li>
									<li>Desarrollo, Implementación e Innovación</li>
									<li>Candidato a Magister en Ciencias de la Computación</li>
									<li>Docente UCM e Inacapa Talca</li>
									<li><a href="http://www.twitter.com/msdark">@msdark</a></li>
									<li><a href="http://www.github.com/msdark">GitHub</a></li>
								</ul>
								</p>
							</div>
						</div>

			        </div>
			        <div class="col-lg-6">
			        	<div class="row">
			        		<div class="col-lg-11">
			        			<%= image_tag 'img_CM.png' %>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-lg-11">
			        			<h3>Camilo Muñoz</h3>
			        		</div>
			        	</div>
			        	<div class="row">
							<div class="col-lg-11">
								<p>
								<ul>
									<li>Diseñador de Productos - CDO </li>
									<li>Diseño UI & UX</li>
									<li>Máster en Diseño industrial y desarrollo de productos</li>
									<li><a href="http://www.twitter.com/oinkmypork">@oinkmypork</a></li>
									<li><a href="http://www.behance.net/oinkme">Mi Behance</a></li>
									<li><a href="http://flickr.com/ozonitos">Flickr</a></li>
								</ul>
								</p>
							</div>
						</div>
			        </div>
		      	</div>

			  </div>
 			  <div class="model-footer">
 			    <hr />
 			  	<div class="row">
 			  		<div class="col-lg-6 col-lg-offset-2">
 			  			<h4 style="margin-top:0px">Contáctanos!</h4>
 			  		</div>
 			  		<div class="col-lg-4">
 			  			<a href="mailto:matiasfh@gmail.com">Desarrollo</a> y <a href="mailto:munoz.donoso@gmail.com">Diseño</a>
 			  		</div>
 			  	</div>

 			  </div>

		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>

	<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'galleria/galleria-1.3.3.js', "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'galleria/plugins/facebook/galleria.facebook.js', "data-turbolinks-track" => true %>

	<%= yield :javascript_extra %>
	</html>
